/*
 * $Id$
 */

.recipe-ingredient-alpha {
  font-weight: bold;
  margin: 20px;
}

.recipe-ingredient-list legend {
  font-weight: bold;
}

.recipe-ingredient-list fieldset p {
  margin-top: 1.5em;
}

.recipe-ingredient-nodes fieldset p {
  margin-top: 1.5em;
}

